import discord
import os
import keep_alive

from discord.ext import commands

client = commands.Bot(command_prefix='YJ!')

# <!-- Import Your Bot Module/Commands <3 -->  

async def on_ready():
  await client.change_presence(status=discord.Status.online, activity=discord.Game("Your's Jarvis"))

keep_alive.keep_alive()
client.run(os.getenv("TOKEN"), bot=True) # if the line does't work so replace this line of code || client.run(os.getenv("TOKEN") ||

## <!-- 🚀 Please follow on GitHub to stay tuned with us for more Exciting future Updates like this. | © 2022 — Made By Your's Jarvis #2431 with ♥ -->